:root {
    --white: #ffffff;
    --black: #000;
    --btn: #f7f7f7;
    --v0: #cceae8;
    --v1: #A8DCD9;
    --v2: #68c3b7;
    --v3: #539091;
    --logo: #4EB79E;
    --sm:14px;
    --md:18px;
    --lg:40px;
  }

  body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
  }

  /* font-family: 'Quicksand', sans-serif; */
.card-container {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);/* llena automaticamente la pantalla con los items que quepan, con tamano de 250px */
    gap: 26px;
    place-content: center; /* Centra todas las cart al centro de la pantalla */
    
}

.produt-card{
    width: 250px;
}

.produt-card img{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    object-fit: cover; /* Tamano tal cual de la imagen, independiente del width t height que ponemos; */
}

.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.product-info figure{
    margin: 0;
}

.product-info figure i{
    font-size: 30px;
}

.product-info div p:nth-child(1){
    /* primer parrafo que este dentro de DIV, dentro de product-info, tendra las clases que se asginaran */
    font-weight: bold;
    font-size:  var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}

.product-info div p:nth-child(2){
    /* Segundo parrafo que este dentro de DIV, dentro de product-info, tendra las clases que se asginaran */
    font-size:  var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--v3);

}

@media(max-width: 640px){
    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 150px);/* llena automaticamente la pantalla con los items que quepan, con tamano de 250px */
        gap: 26px;
    }

    .produt-card{
        width: 150px;
    }
    
    .produt-card img{
        width: 150px;
        height: 150px;
        border-radius: 15px;
        object-fit: cover; /* Tamano tal cual de la imagen, independiente del width t height que ponemos; */
    }
}

:root {
    --white: #ffffff;
    --black: #000;
    --btn: #9d9d9d;
    --v0: #cceae8;
    --v1: #A8DCD9;
    --v2: #68c3b7;
    --v3: #539091;
    --logo: #4EB79E;
    --sm:14px;
    --md:18px;
    --lg:40px;
  }

  body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
  }

  .menu{
    display: none;
  }

  .logo{
    width: 60px;
    height: 60px;
    align-items: center;
  }

  .navbar-left ul, .navbar-right ul{
    list-style: none;
    padding: 0;
    margin-top: 0px;
    display: flex;
    align-items: center;
    height: 60px;
  }

  nav{
    display: flex;
    padding: 0 24px;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid var(--btn);
  }

  .navbar-left{
    display: flex;
  }

  .navbar-left ul{
    margin-left: 12px;
  }

  .navbar-left ul li a, .navbar-right ul li a{
    text-decoration: none;
    color: var(--btn);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
  }

  .navbar-left ul li a:hover, .navbar-right ul li a:hover{
    border: 1px solid var(--logo);
    color: var(--logo);
  }

  .navbar-email{
    color: var(--btn);
    font-size: var(--sm);
    margin-right: 12px;
  }

  .navbar-shopping-cart{
    position: relative;
  }

  .navbar-shopping-cart div{
    width: 16px;
    height: 16px;
    background-color: var(--logo);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cart{
    font-size: 25px;
  }

  .menu{
    display: none;
  }

  .main-container{
    margin-top: 15px;
  }

  /* Estilos generales */
body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos del modal de carrito de compras */
#carrito-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.carrito {
  background-color: #cceae8;
  width: 80%;
  max-width: 70%;
  height: 80%;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.carrito-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.carrito-title {
  color: #4EB79E;
  font-size: 24px;
}

.close {
  color: #539091;
  cursor: pointer;
  font-size: 18px;
}

.carrito-body {
  max-height: 80%;
  overflow-y: auto;
  border-top: 1px solid #A8DCD9;
  border-bottom: 1px solid #A8DCD9;
  margin: 20px 0;
  padding: 10px 0;
}

.carrito-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carrito-footer-total {
  text-align: right;
}

.carrito-footer-total-title {
  color: #539091;
  font-size: 18px;
  margin-bottom: 5px;
}

.carrito-footer-total-number {
  color: #68c3b7;
  font-size: 24px;
}

.carrito-footer-buttons {
  display: flex;
  gap: 10px;
}

.carrito-footer-buttons-cancelar,
.carrito-footer-buttons-comprar {
  background-color: #68c3b7;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carrito-footer-buttons-comprar {
  background-color: #4EB79E;
}

.carrito-footer-buttons-cancelar:hover,
.carrito-footer-buttons-comprar:hover {
  background-color: #539091;
}


.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  color: #4EB79E;
  margin-right: 10px;
}

select {
  padding: 10px;
  border: 2px solid #68c3b7;
  border-radius: 5px;
  background-color: #f7f7f7;
  color: #539091;
  font-size: 16px;
  transition: border-color 0.3s, background-color 0.3s;
}

select:focus {
  outline: none;
  border-color: #4EB79E;
  background-color: #cceae8;
}

/* Animación de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}



  @media(max-width: 640px){
    .menu{
        display: block;
    }

    .navbar-left ul{
        display: none;
    }

    .navbar-email{
        display: none;
    }
  }

  .menu{
    font-size: 25px;
    margin-top: 20px;
  }

  /*.product-img {
    max-width: 60%;
    height: auto;
  }*/

  .carrito-product {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #A8DCD9;
    padding: 10px 0;
  }
  
  .product-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
  }
  
  .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
  
  .product-price {
    color: #68c3b7;
    font-size: 18px;
    margin: 0;
  }
  
  .product-name {
    font-size: 18px;
    margin: 0;
  }
  
  .cart {
    font-size: 24px;
    color: #5ab780;
    cursor: pointer;
  }
  
  .cart:hover {
    color: #4EB79E;
  }
  
